@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$primaryColor: #F25D50;
$primaryFont: 'Lato', sans-serif;

%styled-button {
    background: none;
    border: 1.5px solid $primaryColor;
    padding: 0.3rem 1rem;
    border-radius: 50px;
    transition: background-color 0.2s linear;

    &:hover {
        cursor: pointer;
        background-color: $primaryColor;
        transition: background-color 0.2s linear;
    }
}